[submodule "ocurrent"]
	path = ocurrent
	url = https://github.com/ocurrent/ocurrent.git
	branch = master
[submodule "ocluster"]
	path = ocluster
	url = https://github.com/ocurrent/ocluster.git
	branch = master
[submodule "ocaml-dockerfile"]
	path = ocaml-dockerfile
	url = https://github.com/ocurrent/ocaml-dockerfile.git
	branch = master
[submodule "solver-service"]
	path = solver-service
	url = https://github.com/ocurrent/solver-service.git
	branch = main
[submodule "ocaml-gitlab"]
	path = ocaml-gitlab
	url = https://github.com/tmcgilchrist/ocaml-gitlab.git
	branch = master
[submodule "ocaml-version"]
	path = ocaml-version
	url = https://github.com/ocurrent/ocaml-version.git
	branch = master
