[submodule "ocurrent"]
	path = ocurrent
	url = https://github.com/ocaml-ci/current.git
[submodule "capnp-rpc"]
	path = capnp-rpc
	url = https://github.com/mirage/capnp-rpc
[submodule "capnp-ocaml"]
	path = capnp-ocaml
	url = https://github.com/capnproto/capnp-ocaml
