[submodule "ocurrent"]
	path = ocurrent
	url = https://github.com/ocurrent/ocurrent.git
[submodule "opam-0install-solver"]
	path = opam-0install-solver
	url = https://github.com/talex5/opam-0install-solver
[submodule "ocaml-dockerfile"]
	path = ocaml-dockerfile
	url = https://github.com/avsm/ocaml-dockerfile.git
[submodule "ocluster"]
	path = ocluster
	url = https://github.com/ocurrent/ocluster.git
