pin-depends: [
  ["solver-service.dev" "git+https://github.com/ocurrent/solver-service.git#ca9ef7e8a4097ed56ef6e2d9befa7ca0dc5997cb"]
  ["solver-service-api.dev" "git+https://github.com/ocurrent/solver-service.git#ca9ef7e8a4097ed56ef6e2d9befa7ca0dc5997cb"]
  ["solver-worker.dev" "git+https://github.com/ocurrent/solver-service.git#ca9ef7e8a4097ed56ef6e2d9befa7ca0dc5997cb"]
]
