pin-depends: [
  ["solver-service.dev" "git+https://github.com/ocurrent/solver-service.git#98c04705bdd5511094364ba2549c1192bdd94c1c"]
  ["solver-service-api.dev" "git+https://github.com/ocurrent/solver-service.git#98c04705bdd5511094364ba2549c1192bdd94c1c"]
  ["solver-worker.dev" "git+https://github.com/ocurrent/solver-service.git#98c04705bdd5511094364ba2549c1192bdd94c1c"]
]
