pin-depends: [
  ["dream.dev" "git+https://github.com/aantron/dream#fcc618d2006ceb06e8640e96fa9ac71ee71a6d3a"]
  ["dream-httpaf.dev" "git+https://github.com/aantron/dream#fcc618d2006ceb06e8640e96fa9ac71ee71a6d3a"]
  ["dream-pure.dev" "git+https://github.com/aantron/dream#fcc618d2006ceb06e8640e96fa9ac71ee71a6d3a"]
  ["tailwindcss.dev" "git+https://github.com/tmattio/opam-tailwindcss#a4c0ee9b9a80d44c4a953b07dc29e4aa065adf57"]
]
